{% extends 'base.html'%}

{% block title %}Subscribe{% endblock %}
{% block content %}
<h1 class="portfolio-title">
    Subscribe
</h1>
<div class="row contact">
    <div class="col-sm-offset-2 col-sm-8">
        <h2 class="contact-title">{{text.title}}</h2>
        <p class="contact-content">{{text.text}}</p>
    </div>
</div>
<div class="row subscribe">
    <div class="col-sm-offset-4 col-sm-4 subscribe-form">
        <form class="contact-form" method="post">
            {% csrf_token %}
            Your email adress :<br>
            {{form.email}}
            {{form.email.errors}}
            First name :<br>
            {{form.first_name}}
            {{form.first_name.errors}}
            Last name :<br>
            {{form.last_name}}
            {{form.last_name.errors}}
            <input type="submit" value="Submit" class="submit-contact submit-subscribe" name="submit-subscribe">
        </form>

    </div>
</div>

{% endblock %}
