{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        {% if buyable %}<link rel="stylesheet" href="{% static "css/cropper.css" %}">{% endif %}
        <title>{% block title %}Display-{{obj.image.title}}{% endblock %}</title>
    </head>
    <body id="single-image-body">
        <div id="container">
            <div id="closing-button">
                <a href="{% block close-url %}
                    {% url "portfolios_categorie_all" categorie=obj.categorie %}
                {% endblock %}">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </a>
            </div>
            <a href="{% block left-url %}
                {% url "portfolios_categorie_image" categorie=obj.categorie key=prev%}
            {% endblock %}">
                <div id="left-block">
                    <span class=" glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                </div>
            </a>
            <div id="center-div">
                    <img class="img-responsive" src="{{obj.image.ld.url}}">
                    <div id='image-footer'>
                        <!-- LEFT FOOTER PART -->
                        <div >
                            {{obj.image.title}}
                        </div>
                        <!-- RIGHT FOOTER PART -->
                        <div>
                            {% if buyable %}
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">
                                BUY
                            </button>
                            {% endif %}
                        </div>
                    </div>
            </div>
            <a href="{% block right-url %}
                {% url "portfolios_categorie_image" categorie=obj.categorie key=next%}
            {% endblock %}">
                <div id="right-block">
                    <span class=" glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </div>
            </a>
        </div>

        {% if buyable %}
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">
                        <div class="col-sm-9 row" id="cropping-area">
                            <div class="col-sm-11">
                                <img src="{{obj.image.ld.url}}" class="center-block" id="image">
                            </div>
                            <div class="actions hidden-xs" id="actions-sm"> <!-- hidden-xs -->
                                <span>
                                    <button class="btn btn-sm" onclick="menuOn('auth-form')">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-sm" onclick="rotateCrop()">
                                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                        Rotate
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3" id="selection-menu">
                            <div class="actions" id="actions-xs"> <!--visible-xs -->
                                <span>
                                    <button class="btn btn-sm" onclick="menuOn('auth-form')">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-sm" onclick="rotateCrop()">
                                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                        Rotate
                                    </button>
                                </span>
                            </div>

                            <div id="material-menu">
                                <h2>Material Choice</h2>
                                <ul id="material-list">

                                    {% for material in obj.materials.all %}
                                    <li class="material" onclick="menuOn('{{material}}')">
                                        {{material|title}}
                                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>

                            {% for material in obj.materials.all %}
                            <div class="size-menu" id="{{material}}">
                                <h4 class="back-to-previous" onclick="menuOff('{{material}}')">
                                    <span class=" glyphicon glyphicon-menu-left" aria-hidden="true"></span> Materials
                                </h4>
                                <h2>Size Choice</h2>
                                <ul>
                                    {% for size in material.sizes.all %}
                                    <li class="size" onclick="changeRatio({{size.width}}/{{size.height}})">
                                        {{size.width}} x {{size.height}}  {{unit}}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endfor %}

                            <div id="auth-form">
                                <h4 class="back-to-previous" onclick="menuOff('auth-form')">
                                    <span class=" glyphicon glyphicon-menu-left" aria-hidden="true"></span> Sizes
                                </h4>
                                <h2>User Info</h2>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endif %}

        <script src="{% static "js/jquery-3.2.0.min.js" %}" charset="utf-8"></script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}" charset="utf-8"></script>
        {% if buyable %}
        <script src="{% static "js/modal-menus.js" %}" charset="utf-8"></script>
        <script src="{% static "js/cropper.js" %}"></script>
        {% endif %}
    </body>
</html>
